<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="foodfast-printer-plugin"
    version="1.0.0">
    <name>FOODFAST Printer Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://bitbucket.org/primeitservices/foodfast_printer_plugin.git</repo>
    <issue>https://bitbucket.org/primeitservices/foodfast_printer_plugin/issues</issue>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="PrinterPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="PrinterPlugin">
                <param name="ios-package" value="PrinterPlugin" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/PrinterPlugin.h" />
        <source-file src="src/ios/PrinterPlugin.m" />
    </platform>
</plugin>
